*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: white;
}
nav{
    height: 80px;
    background: #2c3e50;
}
nav img{
    width: 150px;
    position: absolute;
    left: 3%;
    top: -45px;

}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin-right: 0 15px;
}
nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    padding: 15px;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}