html,body {
  height: 100vh;
}
nav {
  background: #cc8ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  font-family: "Alegreya Sans SC";
}
nav .logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
}
nav img {
  width: 150px;
  position: absolute;
  top: -48px;
  left: 0;
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover {
  color: #ffaeff;
}
nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #a36da3;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid black 0.2;
  border-radius: 36px;
}
nav form ::placeholder{
  color: white;
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: white;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button {
  padding: 0 15px;
  color: white;
  font-size: 17px;
  background: #cc8ccc;
  border: none;
  border-radius: 36px;

  cursor: pointer;
  transition: 0.2 all;
}
nav form button:hover {
  background: #ffaeff;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}

@media (max-width: 1140px) {
    nav .nav-items {
        position: absolute;
        left: 5%;
      }
      nav .nav-items{
        text-align: left;
        margin-left: auto;
        font-size: 0.5rem;
        color: white;
        cursor: pointer;
      }
      #kereso_mezo{
          width: 300px;
          margin-left: auto;
          margin-right: 1%;
      }
}

@media (max-width: 960px) {
  nav .nav-items {
    position: absolute;
    left: 5%;
  }
  nav .nav-items{
    text-align: center;
    margin-left: auto;
    font-size: 0.5rem;
    color: white;
    cursor: pointer;
  }
  
  #kereso_mezo{
      width: 200px;
      margin-left: auto;
      margin-right: 1%;
  }
  
}

@media (max-width: 860px) {
  nav {
    padding: 0px;
    
  }
  div.menu-icon{
      margin-left: 1%;
  }
  div.bag-icon{
      margin-right: 1%;
  }
  nav .logo {
    flex: 2;
    text-align: center;
    font-size: 22px;
  }
  nav img {
    left: 40%;
  }
  nav .nav-items {
    position: absolute;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: fit-content;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #bb71bb;
    display: inline-block;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 6rem;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border-bottom-right-radius: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
    color: white;
    font-size: 1.5rem;
    
  }
  nav .search-icon{
    margin: 0 10px;
}
}

@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 1rem;
  }
  #kereso_mezo {
    width: 325px;
  }
}
div.bag-icon{
    width: max-content;
}
div.bag-icon span {
  color: white;
  font-size: 2rem;
}
/* Footer */
footer{
  display: block;
  text-align: left;
  background-color: #24262b;
  color: white;
  padding: 70px 0;
  clear: both;
  bottom: 0;
  margin-top: 15%;
  width: 100%;
  font-size: 1rem;
  
  
}
ul{
	list-style: none;
}
#footer-col ul li a:hover{
	color: #ffffff;
  left: 30px;

}
#footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
}
#footer-col ul li:not(:last-child){
	margin-bottom: 1rem;
}
#footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
#footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
#footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/* Footer vége */